.experience-left-line {
   height: 0;
   width: 25%;
   border: 1px solid rgb(96, 96, 96);
   margin-left: 9%;
   margin-bottom: -1.2%;
}

.experience-right-line {
   height: 0;
   width: 27%;
   border: 1px solid rgb(96, 96, 96);
   margin-left: 66%;
   margin-top: -1.25%;
}

.employers {
   margin: 1.5% -36% 3%;
   justify-content: space-between;
}

.achievements {
   margin-top: 1%;
   bottom: 0;
}

.step-1 {
   margin-top: 6%;
}

.step-2 {
   margin-top: 5%;
}

.step-3 {
   margin-top: 4%;
}

.step-4 {
   margin-top: 3%;
}

.step-5 {
   margin-top: 2%;
}

.step-6 {
   margin-top: 1%;
}

.goal {
   margin-top: 1%;
}

.middle-dev {
   margin-left: 3%;
   margin-right: 3%;
}

.step-line {
   border-top: 3px solid rgb(57, 136, 42);
}