header {
   padding-top: 9%;
}
.header-logo {
   width: 18px;
   height: 18px;
   border: none;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
   margin-bottom: -3px;
   cursor: pointer;
}

.header-logo:active {
   margin-top: 1px;
   margin-left: 1px;
   box-shadow: none;
}

div#name {
   font-size: large;
   font-weight: bold;
}

img#polska,
img#phone-icon {
   box-shadow: none;
   margin-top: 3px;
}

img#e-mail-icon {
   border-radius: 3px;
}

img#linkedin-logo {
   border-radius: 2px;
   margin-top: 6px;
}

img#github-logo {
   border-radius: 50%;
}