.skills-left-line {
   height: 0;
   width: 33%;
   border: 1px solid rgb(96, 96, 96);
   margin-left: 9%;
   margin-bottom: -1.2%;
}

.skills-right-line {
   height: 0;
   width: 36%;
   border: 1px solid rgb(96, 96, 96);
   margin-left: 57%;
   margin-top: -1.25%;
}

.skills {
   display: flex;
   justify-content: space-between;
   margin: 3% 16%;
}

.skill-figure {
   width: 18px;
}

img#js-figure {
   width: 19px;
   margin-bottom: 3%;
}

img#git {
   margin-top: 9%;
}

.linux {
   margin-top: -23%;
}

img#oracle-logo {
   width: 99px;
   /* margin-top: 3%; */
   margin-bottom: 1%;
}

.oracle-text {
   font-size: x-small;
}