body {
   background: rgb(211, 211, 211);
   margin: 0;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.pageA4 {
   width: 210mm;
   height: 297mm;
   background: white;
   display: block;
   margin: 3mm auto;
   box-shadow: 0 0 5mm rgba(0, 0, 0, 0.5);
   text-align: center;
   position: relative;
}

.page-margin {
   margin: 3% 6% 3% 9%;
}

.zero-bottom-margin {
   margin-bottom: 0;
}

a {
   text-decoration: none;
}

header {
   padding-top: 9%;
}

summary {
   line-height: 18pt;
}

.header-logo {
   width: 18px;
   height: 18px;
   border: none;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
   margin-bottom: -3px;
   cursor: pointer;
}

.header-logo:active {
   margin-top: 1px;
   margin-left: 1px;
   box-shadow: none;
}

div#name {
   font-size: large;
   font-weight: bold;
}

img#polska,
img#phone-icon {
   box-shadow: none;
   margin-top: 3px;
}

img#e-mail-icon {
   border-radius: 3px;
}

img#linkedin-logo {
   border-radius: 2px;
   margin-top: 6px;
}

img#github-logo {
   border-radius: 50%;
}

.skills {
   display: flex;
   justify-content: space-between;
   margin: 1% 16%;
}

.skill-figure {
   width: 18px;
}

img#js-figure {
   width: 19px;
   margin-bottom: 3%;
}

img#php {
   width: 36px;
   margin-top: 6%;
}

img#oracle-logo {
   width: 99px;
   margin-top: 3%;
   margin-bottom: 1%;
}

.employer-figure {
   width: 56px;
}

summary div {
   text-align: justify;
   text-indent: 3%;
}

span {
   margin: 0 1%;
}

footer {
   position: absolute;
   bottom: 0;
}

p#rodo {
   font-size: small;
   text-align: justify;
   text-indent: 3%;
   margin-bottom: 0;
}

p#signature {
   font-size: small;
   text-align: right;
   margin-top: 6px;
}